<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @friend.firstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @friend.lastName %>
</p>


<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
